[DIRECTORY]
Data = data

[SERVER]
# Useless
Port = 8000
Log_level = error
# Options: 'critical', 'error', 'warning', 'info', 'debug', 'trace'
Host = 127.0.01

[SECURITY]
Secret = CHANGE ME # Execute openssl rand -hex 48
Mininmal_Password_Length = 8


[FRONTEND]
API_Url = http://127.0.0.1:8000 #The url of your Program! must be set right!

[DATABASE]
Username = admin
Password = password                     # Useless! Use environment-variables!
Url = http://127.0.0.1:5984

[SENTRY]
Url = https://f09f3900a5304b768554e3e5cab68bcd@o661934.ingest.sentry.io/5764925
traces_sample_rate = 1.0
environment = development

[MAIL]                             # Currently ONLY StartTLS
Mailadress = myblock@e.email       # The adress which sends the mail
Password = DriftDevotion0Ether     # The password for smtp
username = myblock@e.email         # the username for smtp
serveradress = mail.ecloud.global  # The smtp-host-adress
port = 587                         # The smtp-port
